<!DOCTYPE html>
<html>
    <head>
        <title>Testfield - Files</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/Testfield/">
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/Testfield/resources/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/Testfield/resources/bootstrap/slider/slider.css">
        <link rel="stylesheet" href="/Testfield/resources/summernote/summernote.css">
        <!--<link rel="stylesheet" href="/Testfield/resources/bootstrap/css/bootstrap-theme.css">-->
        <link rel="stylesheet" href="/Testfield/resources/testfield_general/style/testfield-general.css">
        <link href="/Testfield/resources/testfield_general/style/index.css" rel="stylesheet" type="text/css"/>
        <script 
            data-main="/Testfield/resources/config" 
            src="resources/js/require/require.js"
            data-dependency="testfield-files-specific"
            data-module="filesTestfield">
        </script>
    </head>
    <body>
        <div ng-include="'static/htmlParts/files/navbarFilesPart.html'"></div>
        <ng-view></ng-view>
    </body>
</html>
