<!DOCTYPE html>
<html>
    <head>
        <title>Testfield</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <link href="/Testfield/resources/materialize/css/materialize.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/Testfield/resources/testfield_general/style/testfield-general.css">
        <link rel="stylesheet" href="/Testfield/resources/testfield_general/style/index.css">
        <script 
            data-main="/Testfield/resources/config" 
            src="resources/js/require/require.js"
            data-dependency="login-main-m"
            data-module="loginModule">
        </script>

    </head>
    <body>
        <div class="container orbitron-font">

            <div class="row">
                <div class="col s12 center-align">
                    <h2>Testfield</h2>
                </div>
            </div>

            <ng-view></ng-view>
        </div>
    </body>
</html>

