<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="manualsTestfield">
    <head>
        <title>Testfield - Manuals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/Testfield/resources/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/Testfield/resources/bootstrap/slider/slider.css">
        <!--<link rel="stylesheet" href="/Testfield/resources/bootstrap/css/bootstrap-theme.css">-->
        <link rel="stylesheet" href="/Testfield/resources/testfield_general/style/testfield-general.css">
        <link href="/Testfield/resources/testfield_general/style/index.css" rel="stylesheet" type="text/css"/>
        <script src="/Testfield/resources/js/jquery/jquery.js"></script>
        <script src="/Testfield/resources/bootstrap/js/bootstrap.js"></script>
        <script src="/Testfield/resources/bootstrap/slider/bootstrap-slider.js"></script>
        <script src="/Testfield/resources/testfield_general/js/plugins.js"></script>
        <script src="/Testfield/resources/js/jquery/jquery-form.js"></script>
        <script src="/Testfield/resources/js/jqueryValidation/jquery.validate.min.js"></script>
        <script src="/Testfield/resources/testfield_general/js/navbarTestfield.js"></script>
        <script src="/Testfield/resources/js/angularjs/angular.js"></script>
        <script src="/Testfield/resources/js/angularjs/uiBootstrap.js"></script>
        <script src="/Testfield/resources/testfield_general/js/defaultControllers.js"></script>
        <script src="/Testfield/resources/testfield_general/js/testfield-general.js" type="text/javascript"></script>
        <script src="/Testfield/resources/testfield_general/js/util.js" type="text/javascript"></script>
        
        <link rel="stylesheet" href="/Testfield/resources/testfield_manuals/style/testfield-manuals.css">
        <script src="/Testfield/resources/testfield_manuals/js/testfield-manuals.js" type="text/javascript"></script>
        <script src="/Testfield/resources/testfield_manuals/js/manualService.js" type="text/javascript"></script>
        <script src="/Testfield/resources/testfield_manuals/js/navbar-manuals.js" type="text/javascript"></script>
        <script src="/Testfield/resources/testfield_manuals/js/manualPanel.js" type="text/javascript"></script>
    </head>
    <body class="background-congruent">
        <div ng-include="'static/htmlParts/manuals/navbarManualsPart.html'"></div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2 hidden-xs panel-container">
                    <div ng-include="'static/htmlParts/manuals/panelPart.html'"></div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8 col-lg-offset-1 content-container">
                    <div ng-include="'static/htmlParts/manuals/manualPart.html'"></div>
                </div>
            </div>
        </div>
        
        <!--<tf-modal url-content="/Testfield/static/htmlParts/manuals/manualList.html"></tf-modal>-->
        
    </body>
</html>
