<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Testfield/resources/bootstrap/css/bootstrap.css">
        <script src="/Testfield/resources/js/jquery/jquery.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div id="VideoContainer"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <button class="btn btn-primary btn-block" click="launchEpisode(30002);">Launch</button>
                </div>
            </div>
        </div>
        <script>
        </script>
    </body>
</html>
