<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/Testfield/resources/js/masonry/masonry.js"></script>
        <script src="/Testfield/resources/js/jquery/jquery.js"></script>
        <link rel="stylesheet" href="/Testfield/resources/testfield_files/style/file-list.css">
    </head>
    <body>
        <div class="files-block-container">
            <div class="nonsItem anon"></div>
            <div class="nonsItem anon"></div>
            <div class="nonsItem anon"></div>
            <div class="nonsItem non"></div>
            <div class="nonsItem anon"></div>
            <div class="nonsItem anon"></div>
            <div class="nonsItem non"></div>
            <div class="nonsItem anon"></div>
            <div class="nonsItem non"></div>
            <div class="nonsItem anon"></div>
        </div>
        
        <script>
            new Masonry($(".files-block-container")[0], {});
        </script>
    </body>
</html>
