<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testfield</property>
    <property name="hibernate.connection.username">andriy</property>
    <property name="hibernate.connection.password">andriy</property>
<!--    <property name="hibernate.show_sql">true</property>
    <property name="format_sql">true</property>-->
    <property name="current_session_context_class">thread</property>
    <mapping class="model.bean.user.UserTestfield"/>
    <mapping class="model.bean.user.UserInfo"/>
    <mapping class="model.bean.user.UserConf"/>
    <mapping class="model.bean.tag.Tag"/>
    <mapping class="model.bean.tag.RelTagManual"/>
    <mapping class="model.bean.tag.RelTagManualId"/>
    <mapping class="model.bean.manual.Manual"/>
    <mapping class="model.bean.manual.ManualConf"/>
    <mapping class="model.bean.manual.ManualPage"/>
    <mapping class="model.bean.manual.ManualRow"/>
    <mapping class="model.bean.manual.ManualBlock"/>
    <mapping class="model.bean.widthtype.WidthType"/>
    <mapping class="model.bean.widthtype.RelBlockWidthType"/>
    <mapping class="model.bean.widthtype.RelBlockWidthTypeId"/>
    <mapping class="model.bean.style.FontFamily"/>
    <mapping class="model.bean.style.FontColor"/>
    <mapping class="model.bean.file.File"/>
    <mapping class="model.bean.file.FileUser"/>
    <mapping class="model.bean.file.FileUserId"/>
    <mapping class="model.bean.file.FileManual"/>
    <mapping class="model.bean.file.FileManualId"/>
  </session-factory>
</hibernate-configuration>
