<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testfield</property>
    <property name="hibernate.connection.username">andriy</property>
    <property name="hibernate.connection.password">andriy</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping class="model.bean.UserTestfield"/>
    <mapping class="model.bean.UserInfo"/>
    <mapping class="model.bean.Tag"/>
    <mapping class="model.bean.Manual"/>
    <mapping class="model.bean.ManualPage"/>
    <mapping class="model.bean.ManualRow"/>
    <mapping class="model.bean.ManualBlock"/>
    <mapping class="model.bean.BlockWidthType"/>
    <mapping class="model.bean.Manual"/>
    <mapping class="model.bean.ManualPage"/>
    <mapping class="model.bean.BlockWidthTypeId"/>
    <mapping class="model.bean.ManualBlock"/>
    <mapping class="model.bean.UserInfo"/>
    <mapping class="model.bean.Tag"/>
    <mapping class="model.bean.WidthType"/>
    <mapping class="model.bean.ManualRow"/>
    <mapping class="model.bean.UserTestfield"/>
  </session-factory>
</hibernate-configuration>
