<div ng-class="{
    'center-align': form.buttons.place === 'center'
}">
    <div ng-class="{
        'btn-group': form.buttons.buttons.length > 0,
        'right-align': form.buttons.place === 'right',
        'left-align': form.buttons.place === 'left'
    }">
        <button 
            ng-repeat="button in form.buttons.buttons" 
            type="{{button.type}}" 
            class="btn waves-effect waves-light grey lighten-1"
            ng-click="buttonClick(button.type, this[button.click])">
            {{button.text}}
        </button>
    </div>
</div>