<div class="delete hidden">
    <span class="glyphicon glyphicon-remove"></span>
</div>
<div class="arrows-left hidden">
    <span class="glyphicon glyphicon-menu-left"></span>
</div>
<div class="arrows-right hidden">
    <span class="glyphicon glyphicon-menu-right"></span>
</div>
<div class="arrows-up hidden">
    <span class="glyphicon glyphicon-menu-up"></span>
</div>
<div class="arrows-down hidden">
    <span class="glyphicon glyphicon-menu-down"></span>
</div>
<div class="add-element hidden">
    <span class="glyphicon glyphicon-plus"></span>
</div>
<div ng-show="options.showModify" ng-click="modifyElement()" class="modify-element">
    <i class="material-icons">
        settings
    </i>
</div>
