body {
    padding-bottom: 50px;
}


/*NAVBAR*/
/*-------------------------------------------*/
.navbar-testfield {
    background-color: #dbdbdb; /*#5A159A;*/
    border-radius: 0px;
}


.navbar-testfield .navbar-brand {
    color: #B97200;
    padding-top: 3px;
}

.navbar-testfield .navbar-brand:nth-child(2) {
    font-size: 15px;
}

.navbar-testfield .navbar-nav li a {
    color: #5A159A;
    border-bottom: 3px solid transparent;
} 

.navbar-testfield .navbar-nav li a:hover, .navbar-testfield .navbar-nav li a:focus,
.navbar-testfield .navbar-nav .dropdown-menu li a:hover, .navbar-testfield .navbar-nav .dropdown-menu li a:focus {
/*    background-image: initial;
    background-color: #FFAB22;
    color: #34055F;*/
    border-bottom-color: #6F34A4;
}

.navbar-testfield .navbar-nav .dropdown-menu {
    background-color: white;
}

.navbar-testfield .navbar-toggle:hover {
/*    background-color: #6F34A4;*/
    border-bottom: 1px solid #6F34A4;
}

.navbar-testfield .navbar-toggle .icon-bar {
    background-color: #FFBD52;
}
/*-------------------------------------------*/

.panel-container {
}

.panel-container-part {
    position: fixed;
    min-height: 300px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.content-container {
/*    min-height: 600px;
    outline: 1px solid dodgerblue;*/
}

.editable-textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    resize: vertical;
    box-shadow: none;
    width: 100%;
    height: 100%;
    background: transparent;
}

.editable-standby {
    min-height: 50px;
}

.editable-textarea-empty {
    min-height: 50px;
    background: white;
}

.min-block-height {
    min-height: 50px;
}

.manual-page-style {
    min-height: 150px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    /*color: white;*/
    margin-bottom: 10px;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.manual-page-style:hover {
    border: 2px solid green;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(20,117,11,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(20,117,11,1);
    box-shadow: 0px 0px 20px 0px rgba(20,117,11,1);
}

.manual-row-style {
    min-height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.manual-row-style:hover {
    border: 2px solid yellow;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(143,143,8,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(143,143,8,1);
    box-shadow: 0px 0px 20px 0px rgba(143,143,8,1);
}

.manual-block-style {
    min-height: 50px;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.manual-block-editing {
    padding: 0px;
}

.manual-block-style:hover {
    border: 2px solid aquamarine;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(8,116,143,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(8,116,143,1);
    box-shadow: 0px 0px 20px 0px rgba(8,116,143,1);
}

.block-add-popover {
    color: black;
}

.manual-list {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}

/*-----------GLYPHICONS----------*/

.delete {
    color: red;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: -8px;
}

.delete:hover {
    color: white;
}

.arrows-left, .arrows-right, .arrows-up, .arrows-down, .add-element, .modify-element {
    z-index: 1;
    color: dodgerblue;
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
}

.arrows-left:hover, .arrows-right:hover, .arrows-up:hover, .arrows-down:hover, .add-element:hover, .modify-element:hover {
    color: orange;
}

.arrows-left {
    top: 50%;
    transform: translateY(-62%);
    left: -1px;
}

.arrows-right {
    top: 50%;
    transform: translateY(-62%);
    right: -1px;
}

.arrows-up {
    left: 50%;
    transform: translateX(-50%);
    top: -19px;
}

.arrows-down {
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
}

.add-element {
    color: greenyellow;
    right: 20px;
    bottom: 12px;
}

.modify-element {
    color: burlywood;
    right: 20px;
    bottom: 12px;
}

/*-------------------------------*/

/*Summernote stuff*/

.summernote-edit-panel {
}

.summernote-edit-panel-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.remove-panel-margin {
    margin-bottom: 0px;
}

.note-editor.note-frame .note-editing-area .note-editable {
    padding: 20px;
    min-height: 50px;
}


/*------------------------------*/