<div class="row margin-top-3">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="pull-right font-size-2">New user</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-12">

                        <div class="alert alert-danger" ng-show="showError">
                            <a href="#" class="close" ng-click="showError = false">&times;</a>
                            <strong>{{errorMessage}}</strong>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">

                        <form ng-submit="submitRegister()" class="" role="form" name="register" novalidate>
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="form-group" show-errors>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            name="user" 
                                            ng-model="user" 
                                            ng-minLength="3" 
                                            ng-maxLength="30"
                                            placeholder="User" 
                                            required
                                            />
                                        <span class="help-block">
                                            User must be at least 3-30 characters
                                        </span>
                                    </div>
                                    <div class="form-group" show-errors>
                                        <input 
                                            type="password" 
                                            class="form-control" 
                                            name="password" 
                                            ng-model="password"
                                            ng-minLength="5"
                                            ng-maxLength="30"
                                            placeholder="Password" 
                                            required
                                            />

                                        <span class="help-block">
                                            Password must be at least 5-30 characters
                                        </span>
                                    </div>

                                    <div class="form-group" show-errors>
                                        <input 
                                            type="password"
                                            class="form-control"
                                            name="repeatPassword"
                                            ng-model="repeatPassword"
                                            ng-minLength="5"
                                            ng-maxLength="30"
                                            placeholder="Repeat password"
                                            required
                                            check-passwords="password"
                                        />

                                        <span class="help-block">
                                            Passwords don't match.
                                        </span>
                                    </div>

                                    <div class="form-group" show-errors>
                                        <input 
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            ng-model="email"
                                            ng-minLength="5"
                                            ng-maxLength="80"
                                            placeholder="Email"
                                            required
                                        />

                                        <span class="help-block">
                                            Email not valid.
                                        </span>
                                    </div>

                                    <div class="form-group text-center">
                                        <button 
                                            type="submit" 
                                            class="btn btn-success"
                                            >
                                            Create
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

            <div 
                class="panel-footer hover-dodgerblue cursor-pointer" 
                ng-click="goLogin()">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span>
                            Return to login
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>