<div class="delete hidden" ng-click="delete()">
    <span class="glyphicon glyphicon-remove"></span>
</div>
<div class="arrows-left hidden" ng-click="moveLeft()">
    <span class="glyphicon glyphicon-menu-left"></span>
</div>
<div class="arrows-right hidden" ng-click="moveRight()">
    <span class="glyphicon glyphicon-menu-right"></span>
</div>
<div class="arrows-up hidden" ng-click="moveUp()">
    <span class="glyphicon glyphicon-menu-up"></span>
</div>
<div class="arrows-down hidden" ng-click="moveDown()">
    <span class="glyphicon glyphicon-menu-down"></span>
</div>
<div class="add-element hidden">
    <span class="glyphicon glyphicon-plus"></span>
</div>
