<div ng-controller="manualPageCtrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="">
                <form role="form" novalidate>
                    <h2>
                        <span class="color-white" tf-editable-element="title">{{manual.title}}</span>
                        <textarea 
                            name="title" 
                            class="hidden editable-textarea" 
                            tf-editable-textarea="title" 
                            ng-model="manual.title" 
                            ng-keyup="keyup()" 
                            ng-blur="save()">

                        </textarea>
                    </h2>
                </form>
            </div>
        </div>
    </div>
    
    <div ng-repeat="manualPage in manual.manualPages">
        <div class="row manual-page">
            <div class="col-xs-12">
                
                <div ng-repeat="manualRow in manualPage.manualRows">
                    <div class="row">
                        <div ng-repeat="manualBlock in manualRow.manualBlocks" ng-controller="manualBlockCtrl">
                            <div class="col-xs-12" ng-init="$scope.manualBlock = manualBlock">
                                <form novalidate role="form">
                                    <span class="color-white" tf-editable-element="block">{{manualBlock.content}}</span>
                                    <textarea 
                                        name="title" 
                                        class="hidden editable-textarea" 
                                        tf-editable-textarea="block" 
                                        ng-keyup="keyup()" 
                                        ng-blur="save()"
                                        ng-model="manualBlock.content"
                                        >
                                    </textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>