<div ng-controller="manualPageCtrl">
    <div class="row">
        <div class="col-xs-12">
            <h2 ng-dblclick="editTitle()">{{manual.title}}</h2>
        </div>
    </div>

    <div class="row" ng-repeat="manualPage in manual.pages">
        <div class="col-xs-12">

            <div 
                ng-class="{'last': manualPage.isLast, 'first': manualPage.isFirst}"
                class="manual-page manual-page-style" 
                block-options="horizontal delete add"
                ng-controller="pageCtrl"
                ng-init="initPage(manualPage)"
                >
                <div 
                    class="row" 
                    ng-repeat="manualRow in manualPage.rows"
                    ng-controller="rowCtrl"
                    ng-init="initRow(manualRow)"
                    >
                    
                    <div class="col-xs-12">
                        
                        <div 
                            class="manual-row manual-row-style" 
                            block-options="horizontal add delete"
                            ng-class="{'last': manualRow.isLast, 'first': manualRow.isFirst}">
                            
                            <div class="row">
                                <div
                                    ng-repeat="manualBlock in manualRow.blocks" 
                                    ng-controller="manualBlockCtrl"
                                    ng-init="initBlock(manualBlock)"
                                    block-class
                                    >
                                    <div 
                                        ng-include="'static/htmlParts/manuals/manualBlock.html'">
                                    </div>
                                    

                                </div> <!-- END LOOP BLOCKS -->
                            </div>

                        </div>
                        
                    </div>
                    
                    
                </div> <!-- END LOOP ROWS, TEST-ROW -->

            </div>  <!--END TEST-PAGE -->

        </div> <!-- END PAGE COL -->

    </div> <!-- END LOOP PAGES -->
</div>