<nav class="navbar navbar-testfield" ng-controller='navbarManualsCtrl'>
    <div class="container-fluid">

        <div class="navbar-header">

            <button class="navbar-toggle" data-toggle="collapse" data-target="#testfieldNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="" class="navbar-brand text-center">
               <span class="display-block">
                    TestField
                </span>

                <span class="display-block font-size-2">
                    Manuals
                </span>
            </a>

        </div>

        <div class="collapse navbar-collapse" id="testfieldNavbar">

            <ul class="nav navbar-nav">
                <li>

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Actions 
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="createManual()">Create</a></li>
                        <li><a href="#" ng-click="manualsList()">Open</a></li>
                        <li><a href="#" ng-show="!editing" ng-click="edit()">Edit</a></li>
                        <li><a href="#" ng-show="editing && manualLoaded" ng-click="visualize()">Visualize</a></li>
                        <li><a href="#" ng-show="manualLoaded" ng-click="addPage()">Add page</a></li>
                        <li><a href="#" ng-show="manualLoaded" ng-click="manualsStyle()">Set style</a></li>
                        <li><a href="#" ng-show="manualLoaded" ng-click="getJsonManual()">Get Manual as JSON</a></li>
                        <li><a href="#" ng-show="manualLoaded" ng-click="getHtmlManual()">Get Manual as HTML</a></li>
                    </ul>

                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Apps 
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#">Manuals</a></li>
                        <li><a href="#">Forum</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" logout><span class="glyphicon glyphicon-off"></span> <span>Logout</span></a>
                </li>
            </ul>

        </div>

    </div>
</nav>